.card{
    background-color: #344D54;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 10px 60px 10px;
}

.name{
    color: white;
    font-size:28px;
    
}

.desc{
    color: lightgray;
    font-size: 18px;
}

.mas{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items:end;
}

.link{
    flex:1;
    text-align: right;
    padding-left: 40px;
    color: lightblue;
}