
.page{
    display: flex;
    flex-wrap: wrap;
}

.available{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.container{
    overflow-y: scroll;
    overflow: auto;
    height: 100vh;
    padding-bottom: 30px;
}