.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    text-align: center;
    
}

.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
 
}

.container{
    /* margin-bottom: 100px; */
    overflow-y: scroll;
    overflow: auto;
    height: 100vh;
    padding-bottom: 30px;
}



/* @media (max-width: 1500px) {
    .container {
      margin-top: 800px;
    }
  }

  @media (max-width: 900px) {
    .container {
      margin-top: 3000px;
    }
  }

  @media (max-width: 700px) {
    .container {
      margin-top: 6000px;
    }
  }

  @media (max-width: 900px) {
    .container {
      margin-top: 3000px;
    }
  } */
